@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 210 40% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 20%;

    --primary: 203 85% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 95%;
    --secondary-foreground: 210 40% 20%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 203 85% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 31% 91%;
    --input: 214 31% 91%;
    --ring: 203 85% 53%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 40% 8%;
    --foreground: 210 40% 98%;

    --card: 210 40% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 210 40% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 203 85% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 203 85% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 40% 18%;
    --input: 210 40% 18%;
    --ring: 203 85% 53%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
